*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MS Pgothic';
  src: url(./fonts/ms-pgothic.ttf);
}

html{
  font-size: 62.5%;
  font-family: 'MS Pgothic';
  overflow: hidden;
}

.container{
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #EFA00B;
  grid-template-columns: 78.33% 21.67%;
  grid-template-rows: 12.685% 74.63% 12.685%;
}

.gigant-squidward{
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 2;
}

.calamardo-gigante{
  width: 130%;
  position: relative;
  left: 23%;
  /* transform: translate(-25%, 0); */
}

.mini-squidward{
  display: grid;
  grid-template-columns: 14.36% 14.36% 14.36% 14.36% 14.36% 14.36% 14.36%;
  grid-template-rows: 40% 20% 40%;
  grid-row-start: 2;
}

/* 
28.59% 42.69% */

.img-mini-squidward{
  width: auto;
  transform: rotate(180deg);
  transform: scaleY(-1);
  align-items: flex-end;
}

.blue1{
  display: block;
  grid-column-start: 1;
  grid-row-start: 2;
  background-color: #011627;
  z-index: 2;
}

.blue2{
  display: block;
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: #011627;
}

.blue3{
  display: block;
  grid-column-start: 4;
  grid-row-start: 2;
  background-color: #011627;
  z-index: 2;
}

.blue4{
  display: block;
  grid-column-start: 7;
  grid-row-start: 2;
  background-color: #011627;
}

.yellow2down{
  display: block;
  background-color: #EFA00B;
  grid-row-start: 3;
  grid-column-start: 2;
  z-index: 2;
}

.yellow2up{
  display: block;
  background-color: #EFA00B;
  grid-row-start: 1;
  grid-column-start: 2;
  z-index: 2;
}

.yellow4up{
  display: block;
  background-color: #EFA00B;
  grid-row-start: 1;
  grid-column-start: 7;
  z-index: 2;
}

.yellow4down{
  display: block;
  background-color: #EFA00B;
  grid-row-start: 3;
  grid-column-start: 7;
  z-index: 2;
}

.one{
  grid-column-start: 1;
  grid-row-start: 2;
  position: relative;
  top: 57px;
  z-index: 1;
}

.two{
  grid-column-start: 2;
  grid-row-start: 2;
  position: relative;
  top: 90px;
}

.three{
  grid-column-start: 4;
  grid-row-start: 2;
  position: relative;
  top: 100px;
}

.four{
  grid-column-start: 7;
  grid-row-start: 2;
  position: relative;
  top: 179px;
}

.calamardo-chiquito{
  width: 100%;
}

.blue{
  background-color: #011627;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 8;
}

.text{
  display: grid;
  grid-template-columns: repeat(65 , 20px);
  grid-template-rows: repeat(11, 10px);
  font-size: 7rem;
  color: #AF2126;
  letter-spacing: 7px;
  grid-row-start: 3;
  
}

.textt{
 grid-column-start: 2;
 grid-column-end: 50;
 grid-row-start: 2;
}